<div>
 <div class="relative overflow-x-auto">
  {{@if(it.data.length > 1)}}
  <table class="dark w-full text-left text-sm text-gray-500 dark:text-gray-400">
   <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
    <tr>
     <th scope="col" class="px-6 py-3">Total Response Time(ms)</th>
     <th scope="col" class="px-6 py-3">Average Response Time(ms)</th>
     <th scope="col" class="px-6 py-3">Success Ratio</th>
    </tr>
   </thead>
   <tbody>
    <tr class="border-b dark:border-gray-700 dark:bg-gray-800">
     <td class="px-6 py-4">{{it.data | getProp(1) | sum}}</td>
     <td class="px-6 py-4">{{it.data | getProp(1) | avg}}</td>
     <td class="px-6 py-4">{{it.data | getProp(3) | defRatio | percentage }}%</td>
    </tr>
   </tbody>
  </table>
  {{/if}}
  <!---->
  <table class="dark w-full text-left text-sm text-gray-500 dark:text-gray-400">
   <thead class="bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400">
    <tr>
     <th scope="col" class="px-6 py-3">Site URL</th>
     <th scope="col" class="px-6 py-3">Request Time(ms)</th>
     <th scope="col" class="px-6 py-3">Size</th>
     <th scope="col" class="px-6 py-3">Success</th>
     <th scope="col" class="px-6 py-3">Stacks</th>
    </tr>
   </thead>
   <tbody>
    <!---->
    {{@each(it.data) => [siteUrl,timeTaken,bytes,success,stacks], index}}
    <tr class="border-b dark:border-gray-700 dark:bg-gray-800" key="{{index}}">
     <th scope="row" data-siteurl="{{siteUrl}}" class="cursor-pointer whitespace-nowrap px-6 py-4 font-medium hover:underline dark:text-white"><a href="{{siteUrl}}">{{siteUrl}}</a></th>
     <td class="px-6 py-4" data-time="{{timeTaken}}">{{timeTaken}}</td>
     <td class="px-6 py-4" data-size="{{bytes}}">{{bytes}}({{bytes | size}})</td>
     <td class="px-6 py-4" data-success="{{success}}">{{success}}</td>
     <td class="px-6 py-4" data-stacks="{{stacks.join(',')}}">{{stacks | joinStacksName}}</td>
    </tr>
    {{/each}}
   </tbody>
  </table>
 </div>
</div>
<script src="/js/data.js"></script>
<script></script>
